html{
    background-color: #252525;
}
.game{
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 5%;
    color: white;
    text-align: center;
}
.info{
    background-color: #F24464;
    width: 70%;
    height: 100%;
    float: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
h2{
    height: 70px;
}
.first{
    margin-top: 30px;
}
.buttons{
    background-color: #5EBAF2;
    width: 30%;
    height: 100%;
    float: right;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.imgs{
    width: 330px;
    margin: auto;
    margin-bottom: 50px;
}
#computer_img, #user_img{
    width: 150px;
    height: 150px;
    margin: auto;
}
#computer_img{
    float: left;
}
#user_img{
    float: right;
    margin-left: 30px;
}
img{
    width: 145px;
    height: 145px;
    margin: 2px;
}
button{
    width: 130px;
    height: 130px;
    border-radius: 100px;
    margin-top: 26px;
    border-style: none;
    background-color: #F2637E;
    color: white;
    font-weight: bold;
    font-size: 18pt;
}
button:hover{
    background-color: #eb788d;
}
.scoreboard{
    width: 310px;
    height: 110px;
    margin: auto;
    margin-top: -50px;
}
.player_c, .player_u{
    width: 150px;
    text-align: center;
    font-size: 18pt;
    background-color: #5EBAF2;
    color: #000;
}
.player_c{
    float: left;
}
.player_u{
    float: right;
}
#score_c, #score_u{
    width: 150px;
    height: 70px;
    text-align: center;
    font-size: 45pt;
    color: white;
    background-color: #F2637E;
}
#score_c{
    float: left;
    border-bottom-left-radius: 20px;
}
#score_u{
    float: right;
    border-bottom-right-radius: 20px;
}

/*Level Up*/
.Level1{
    animation: level1 2s;
}
@keyframes level1 {
    0% {
      background-color: #252525;
    }
    70% {
      background-color: #ff4a4a;
    }
    100%{
        background-color: #252525;
    }
}

.Level2{
    animation: level2 2s;
}
@keyframes level2 {
    0% {
      background-color: #252525;
    }
    70% {
      background-color: #FFCB67;
    }
    100%{
        background-color: #252525;
    }
}

.Level3{
    animation: level3 2s;
}
@keyframes level3 {
    0% {
      background-color: #252525;
    }
    70% {
      background-color: #F7D58B;
    }
    100%{
        background-color: #252525;
    }
}

.Level4{
    animation: level4 2s;
}
@keyframes level4 {
    0% {
      background-color: #252525;
    }
    70% {
      background-color: #72C187;
    }
    100%{
        background-color: #252525;
    }
}

.Level5{
    animation: level5 2s;
}
@keyframes level5 {
    0% {
      background-color: #252525;
    }
    70% {
      background-color: #67D2FF;
    }
    100%{
        background-color: #252525;
    }
}

.Level6{
    animation: level6 2s;
}
@keyframes level6 {
    0% {
      background-color: #252525;
    }
    70% {
      background-color: #9584FF;
    }
    100%{
        background-color: #252525;
    }
}

.Level7{
    animation: level7 2s;
}
@keyframes level7 {
    0% {
      background-color: #252525;
    }
    70% {
      background-color: #FF9EFF;
    }
    100%{
        background-color: #252525;
    }
}